body {
    background-color: gray;
}
.container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: whitesmoke;
}

/*the navigation menu styling*/

.header {
    width: 100%;
    height: 100px;
    background-color: blanchedalmond;
}
.navbar-list {
    font-family: 'Aclonica', sans-serif;
}
.navbar-list ul {
    text-decoration: none;
    float: left;
    margin-top: 5%;
}
.navbar-list li {
    display: inline-block;
}
.navbar-list li a:hover {
    color: brown;
}
.navbar-list li a {
    text-decoration: none;
    color: black;
}
.fa-ul li {
    margin-top: 10px;
    display: inline-block;
    float: right;
    padding: 15px;
}
.fa-ul li a:hover {
    color: brown;
}

/*
.navbar-icons {
    width: 100%;
}
*/


/*the navigation menu styling*/


/*The content part */

#content {
    width: 100%;
    height: 700px;
}
.bg-image {
    width: 100%;
    height: 700px;
    background-image: url(../img/Chicken-Burger2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
h3 {
    font-family: 'Aclonica', sans-serif;
    color: aliceblue;
    padding-top: 4%;
    font-size: 5em;
    /*
    position: absolute;
    z-index: 2;
*/
}
img {
    width: 50%;
    height: 70%;
    /*    position: absolute;*/
    /*    z-index: 1;*/
}

/********the row with menu list , creating a
slider to showcase the variety ************
*************/

.menu-list {
    width: 100%;
    height: 500px;
    background-color: whitesmoke;
}

/*the footer styling
*/

.footer {
    width: 100%;
    height: 500px;
}
.order-form {
    width: 50%;
    height: 450px;
    background-color: bisque;
}
form {
    height: 400px;
    float: left;
}
.header-form {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    padding-left: 5px;
    padding-top: 5px;
}
input,
label {
    display: block;
    padding-left: 5px;
}
form p {
    margin-left: 5px;
}
form label {
    color: black;
}
input,
textarea {
    padding: 9px;
    border: 1px solid saddlebrown;
    outline: 0;
    font: 'Roboto Condensed', sans-serif;
    width: 100px;
    background: snow;
    margin-left: 5px;
}
textarea {
    width: 200px;
    height: 100px;
    line-height: 150%;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
    border-color: chocolate;
}
.submit input {
    width: auto;
    background: saddlebrown;
    border: 0;
    padding: 8px 12px;
    font-size: 14px;
    color: snow;
    font: 'Roboto Condensed', sans-serif;
}

/* Box shadow effect */

textarea,
input {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}
.submit input {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

/* Box shadow effect */

.map {
    width: 300px;
    height: 500px;
    float: right;
}
.map p {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
